p {color: black;
font-family: calibri,serif;
line-height: 30px;
}

h1 {font-weight: normal;}
h1 {font-variant: small-caps;
	font-style: italic;
	color: #758513;
	text-align: center;
}
h2 {font-variant: normal;
	color: rgb(19,133,92);
}
body {
	background-image: url(image/background8.jpeg);
}
a {
			text-decoration: none;
			color: black;
		}

		a:link {
			color: black;
		}

		a:hover {
			font-style: italic;
			color: darkred;
		}

		a:active {
			font-style: italic;
			color: darkred;
		}
.container {
	width: 960px;
	margin: auto;
	background-color: lightgreen;
	background-image: url(image/bg7.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.header {
	padding: 5px
}
.judul {
	font-weight: bold;
}

.header ul li {
	display: inline-block;
margin-right: 5px;
}

.header {
	background-color: darkred;
}
.header a {
	text-decoration: none;
	color: black;
	padding: 3px;
}
.header a:hover {
	background-color: lightblue;
	color: white;
}
/*.hero {
	height: 300px;
	background-image: url(bg9.jpg);
	background-position: 0 -80px;
	background-size: cover;
	border-top: 5px solid #9D1CFF;
	border-bottom: 5px solid #FF1F4F;
} */

.main span {
	color: green;
}

.main {
	width: 600px;
	padding: 10px;
	box-sizing: border-box;
	float: right;
}

.clear {
	clear: right;
}

.sidebar {
	float: left;
	padding: 20px;
	width: 300px;
}
.sidebar img {
	height: 30px;
	width: 70px;
	float: left;
}
.break {
	clear: right;
}
.sidebar p {
	font-size: 12px;
	font-family: calibri;
	line-height: 18px;
}